In [24]:
import pandas as pd
import numpy as np
from scipy.interpolate import interp1d
from scipy.optimize import fsolve
from Black76 import Black76

In [25]:
df = pd.read_csv('data_vol_2.csv', sep=';')
df.drop(columns=['Unnamed: 2'], inplace=True)
df

         Strike        IV
0     33.307605  1.319455
1     33.401091  1.318327
2     33.494839  1.317197
3     33.588850  1.316067
4     33.683125  1.314937
..          ...       ...
995  541.625362  0.515507
996  543.145560  0.515656
997  544.670025  0.515806
998  546.198769  0.515956
999  547.731804  0.516107

[1000 rows x 2 columns]

In [26]:
T = 0.476000
F0 = 135.069000
flag = 'c'
target_delta = 0.25

In [27]:
IV_interp = interp1d(df.Strike, df.IV)

def BS_delta(K, flag):
    return Black76(IV_interp(K)).delta(T, K, F0, flag)

K_target = fsolve(
    func=lambda x: BS_delta(x, flag) - target_delta, 
    x0=F0
)

vol_target = IV_interp(K_target)[0]
vol_target

0.5552155737265275