In [53]:
import numpy as np
import pandas as pd

In [54]:
df = pd.read_csv('data/data_volumes.csv', sep=';')
df.drop(columns={'Unnamed: 2': True}, inplace=True)
df

          Price    Volume
0    118.208729  0.154860
1    118.698754  0.154970
2    119.563290  0.446283
3    118.226819  0.255762
4    118.563355  0.170489
..          ...       ...
146  116.886443  0.290614
147  118.961094  0.122956
148  120.021331  0.181762
149  118.636822  0.136985
150  119.303632  0.118984

[151 rows x 2 columns]

In [55]:
def volume_weighted_mean_price(
    df: pd.DataFrame
) -> float:
    return (df.Price * df.Volume).sum() / df.Volume.sum()


def volume_weighted_median_price(
    df: pd.DataFrame
) -> float:
    df_sorted = df.sort_values(by='Price').reset_index()
    df_sorted['AccumulatedVol'] = df_sorted.Volume.cumsum() / df_sorted.Volume.sum()
    idx = np.where(df_sorted.AccumulatedVol >= 0.5)[0][0]
    interp_weight = (0.5 - df_sorted.AccumulatedVol[idx-1]) / (df_sorted.AccumulatedVol[idx] - df_sorted.AccumulatedVol[idx-1])
    return (1 - interp_weight) * df_sorted.Price[idx - 1] + interp_weight * df_sorted.Price[idx]

In [56]:
volume_weighted_mean_price(df)

118.96214741469026

In [57]:
volume_weighted_median_price(df)

118.83662555580223