In [1]:
import os
os.chdir("../")

import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('data/data_volumes.csv', sep=';')
df.drop(columns={'Unnamed: 2': True}, inplace=True)
df

          Price    Volume
0    356.432314  0.111266
1    354.271703  0.100037
2    358.612207  0.198573
3    362.934907  0.184188
4    360.541921  0.132510
..          ...       ...
112  356.840283  0.138203
113  356.582899  0.230154
114  357.492614  0.126850
115  355.598374  8.006630
116  356.314369  0.103487

[117 rows x 2 columns]

In [4]:
def volume_weighted_mean_price(
    df: pd.DataFrame
) -> float:
    return (df.Price * df.Volume).sum() / df.Volume.sum()


def volume_weighted_median_price(
    df: pd.DataFrame
) -> float:
    df_sorted = df.sort_values(by='Price').reset_index()
    df_sorted['AccumulatedVol'] = df_sorted.Volume.cumsum() / df_sorted.Volume.sum()
    idx = np.where(df_sorted.AccumulatedVol >= 0.5)[0][0]
    interp_weight = (0.5 - df_sorted.AccumulatedVol[idx-1]) / (df_sorted.AccumulatedVol[idx] - df_sorted.AccumulatedVol[idx-1])
    return (1 - interp_weight) * df_sorted.Price[idx - 1] + interp_weight * df_sorted.Price[idx]

In [5]:
volume_weighted_mean_price(df)

357.34662414304665

In [6]:
volume_weighted_median_price(df)

356.15904309951014